# dependencies
node_modules/

# next
.next/
out/

# production
build/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# archives
*.zip
*.rar

# temporary files
test_write_*.txt

# OS
.DS_Store
Thumbs.db

.vercel
SUPABASE_URL|SUPABASE_SERVICE|.env.vercel|.env.temp
